*.ltx linguist-language=ini
*.script linguist-language=lua

*.ps linguist-language=shaderlab
*.gs linguist-language=shaderlab
*.vs linguist-language=shaderlab
*.cs linguist-language=shaderlab
*.s linguist-language=shaderlab
